# AWS credentials
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret

# Node execution options
NODE_OPTIONS=--abort-on-uncaught-exception --max_old_space_size=4096

# Set up variables for main stack API test
AWS_REGION=us-east-1
GRAPHQL_ENDPOINT=https://***.appsync-api.us-east-1.amazonaws.com/graphql
COGNITO_USER_POOL_ID=us-east-1_***
COGNITO_AUTHENTICATION_TYPE=AMAZON_COGNITO_USER_POOLS
COGNITO_CLIENT_ID=***
COGNITO_USERNAME=+380***
COGNITO_PASSWORD=***
