## Set attributes
#set( $attribs = $utils.dynamodb.toMapValues($context.arguments) )
#set( $attribs.recordState =$utils.dynamodb.toString("ok") )
#set( $attribs.version = { "N" : 1 } )
#set( $attribs.createdAt = $utils.dynamodb.toString($utils.time.nowISO8601() ) )
#set( $attribs.updatedAt = $utils.dynamodb.toString($utils.time.nowISO8601() ) )

#set( $profileImage = $ctx.args.input.profileImage )
#set( $attribs.profileImage = $utils.dynamodb.toS3Object($profileImage.key, $profileImage.bucket, $profileImage.region) )

{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "userId": $utils.dynamodb.toStringJson($context.identity.username)
  },
  "attributeValues": $utils.toJson($attribs),
  "condition": {
    "expression": "attribute_not_exists(#userId)",
    "expressionNames": {
      "#userId": "userId"
    }
  }
}
